#terrain{
width:1330px;
height:730px;
border:3px solid #007;
position: relative;
}

#balle{
position: absolute;
left: 0px;
top: 0px;
width:25px;
height:25px;
border:1px ;
border-radius: 25px;
background: red
}

#racket1{
    width: 15px;
    height: 100px;
    background: blue;
    position: absolute;
}

#racket2{
    left: 685px;
    width: 15px;
    height: 100px;
    background: red;
    position: absolute;
}

